*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    overflow-x: hidden; 
}

body{
    display: grid;
    grid-template-rows: auto 2fr auto;
    height: 100vh;
    width: 100vw;
}

main{
    background-color: beige;
}

.contenedor1{
    display: flex;
    column-gap: 80px;
    justify-content: center;
    padding: 30px;
}

table{
    border: 2px solid rgb(203, 152, 251);
    border-collapse: collapse;
    padding: 5px;
}

th, td{
    padding: 5px;
    text-align: center;
}

fieldset{
    display: grid;
    grid-template-columns: 1fr;
    width: 500px;
    gap: 10px;
    justify-items: center;
    padding: 10px;
}

input{
    width: 70%;
    height: 30px;
    border-radius: 10px;
}

button{
    width: 70%;
    height: 30px;
    border-radius: 10px;
}

button:hover{
    background-color: rgb(3, 170, 3);
    transition: 1.4s;
    color: azure;
    cursor: pointer;
}

.mensaje{
    text-align: center;
    color: green;
    font-size: medium;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1{
    text-align: center;
}

nav{
    background-color: rgb(104, 37, 37);
    padding: 20px;
    display: flex;
}

nav ul{
    display: flex;
    list-style: none;
    column-gap: 15px;
}

nav ul li{
    padding: 10px;
}

nav ul li a{
    text-decoration: none;
    font-size: 1.3rem;
    color: white;
    
}

nav ul li:hover{
    background-color: cadetblue;
    border-radius: 10px;
}

footer{
    background-color: rgb(52, 50, 50);
    padding: 30px;
    color: azure;
    font-size: 1.4rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}